- contentName = "Daily UI - 05"
doctype html
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		meta(name="description" content=contentName)
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title !{contentName}
	body.container
		main.wrap
			section.main
				.content
					h1.main__title Daily UI
					h2.main__title--sub 05
					.carousel
						.carousel__body(data-carousel)
							.carousel__item
								img.carousel__img(src=require("~/img/img01.jpg"), alt="床屋さんのイメージ01")
							.carousel__item
								img.carousel__img(src=require("~/img/img02.jpg"), alt="床屋さんのイメージ02")
							.carousel__item
								img.carousel__img(src=require("~/img/img03.jpg"), alt="床屋さんのイメージ03")
							.carousel__item
								img.carousel__img(src=require("~/img/img04.jpg"), alt="床屋さんのイメージ04")
							.carousel__item
								img.carousel__img(src=require("~/img/img05.jpg"), alt="床屋さんのイメージ05")
						.carousel__indicator--num
							.carousel__indicator--num-index(data-caounsel-index) 01
							.carousel__indicator--num-count(data-caounsel-count) 05
				.carousel__indicator--dot(data-carousel-dot)